/* Big teblet to 1200px (widths smaller than the 1140px row) */
@media only screen and (max-width: 1200px) {

} 

/* Small tablet to big tablet: from 7681px to 1023px */
@media only screen and (max-width: 1023px) {

    .p-text-section-2 {
        font-size: .8rem;
    }

    .h-text-section-2 {
        font-size: 1.3rem;
        }

    .section-3-flex>div {
        width: 70%;
        font-size: 1.1rem;
        margin-left: 8rem;
    }

    footer p {
        
        text-align: left;
        margin-bottom: .8rem; 
    }

}

/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 767px) {

    .main-banner .imgban-box h2 {
        font-size: 2rem;
    }
    .main-banner #imgban3  .imgban-box {
        padding-top: 30%;
    }
    
    .main-banner #imgban2  .imgban-box {
        padding-top: 25%;
    }

    .logo {
        width: 10rem;
        margin-left: 2rem;
    }

    .logo-black {
    
        margin-top: .8rem;
        margin-left: 2rem;
    }


    .main-nav {
        margin-top: 25px;
    }

    .section-1 {
        padding: 5rem 2rem;
    }

    .section-2 {
        padding: 1rem 2rem;
    }

    .h-section-1 {
        font-size: 2rem;
    }

    .p-text-section-2 {
        font-size: 0.8rem;
        
    }

    .h-text-section-2 {
        font-size: 1.1rem;
        }
      
    .section-3-flex>div {
        width: 60%;
        font-size: 1.1rem;
        margin-left: 2rem;
    }

    footer {
        font-size: 60%;
        padding: 1rem 0 1rem 2rem;
        }
    
    .social-links {
        margin-right: ;
        margin-top: -40px;
    }

    footer p {
        text-align: left;
        margin-top: 10px;
    }

    /* Mobile navi */
    .main-nav { display: none;}
    .mobile-nav-icon {
        display: inline-block;
    }

    .main-nav {
        float: left;
        margin-top: 15px;
        margin-left: 25px;
    }
    .main-nav li {
        display: block;
    }

    .main-nav li a:link,
    .main-nav li a:visited {
        display: block;
        border: 0;
        padding: 4px 0;
        font-size: 80%;
    }

    .sticky .main-nav { margin-top: 10px;}
    .sticky .main-nav li a:link,
    .sticky .main-nav li a:visited {padding: 4px 0;}
}

    .main-nav li a:link,
    .main-nav li a:visited {
    font-size: 70%;
}

/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {

    .logo {
        width: 9rem;
        margin-left: 1rem;
    }
   
    .logo-black {
        width: 30%;
        margin-top: 1rem;
        margin-left: 1rem;
    }

    /* Mobile navi */
    .main-nav { display: none;}
    .mobile-nav-icon {
        display: inline-block;
        
    }

    .mobile-nav-icon {
        margin-top: .4rem;
        margin-right: 1rem;
    }
    .main-nav {
        float: left;
        margin-top: 15px;
        margin-left: 5px;
        
    }
    .main-nav li {
        display: block;
    }

    .main-nav li a:link,
    .main-nav li a:visited {
        display: block;
        border: 0;
        padding: 4px 0;
        font-size: 60%;
        margin-left: -25px;
    }


    .sticky .main-nav { margin-top: 5px;}
    .sticky .main-nav li a:link,
    .sticky .main-nav li a:visited {padding: 5px 0;}

    .main-banner #imgban3  .imgban-box {
        padding-top: 50%;
        padding-left: 1rem;
    }
    
    .main-banner #imgban2 .imgban-box {
        padding-top: 50%;
        padding-left: 1rem;
    }

    .button-slides{
        top: 80%;
        left: 54%;
    }

    .main-banner .imgban-box h2 {
        font-size: 1.6rem;
    }
    
    .section-1 {
        padding: 5rem 1rem;
    }
    .h-section-1 {
        font-size: 1.5rem;
        font-weight: 300;
    }
   
    .section-2 {
        padding: 1rem 1rem;
    }

    .h-text-section-2 {
    font-size: 1.2rem;
    }

    .p-text-section-2 {
        font-size: .8rem;
        
    }

    .next-row {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .section-3-flex>div {
        width: 80%;
        font-size: 1rem;
        margin-left: 1rem;
        }

    footer {
        font-size: 60%;
        padding: 1rem;
        }
    
    .social-links {
        margin-right: 1%;
        margin-top: -40px;
    }

    footer p {
        
        text-align: left;
        margin-top: 10px;
    }

    .btn:link,
    .btn:visited,
    input[type=submit] {
        padding: 8px 15px;
    }
}