* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fcf9f9;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

/*---------------------------------*/
/* Header menu */
/*---------------------------------*/
header {
    position: absolute;
    width: 100%;
    z-index: 1;
}
.logo {
    width: 12rem;
    float: left;
    margin-top: 20px;
    margin-left: 3rem;
}
.logo-black {
    display: none;
    float: left;
    width: 10rem;
    margin: 5px 0;
    margin-left: 3rem;
}
/*---------------------------------*/
/* Main nav */
/*---------------------------------*/
.main-nav {
    float: right;
    list-style: none;
    margin-top: 20px;
    margin-right: 3rem;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}
 .main-nav li a:link,
 .main-nav li a:visited {
     padding: 8px 0;
     color: #fff;
     text-decoration: none;
     text-transform: uppercase;
     font-size: 85%;
     border-bottom: 2px solid transparent;
     transition: border-bottom 0.2s;
 }

 .main-nav li a:hover,
 .main-nav li a:active {
     border-bottom: 2px solid rgba(130, 186, 177, 1);
 }

 /*---------------------------------*/
 /* Mobile navi */
 /*---------------------------------*/
 .mobile-nav-icon {
     float: right;
     margin-top: 3px;
     margin-right: 25px;
     cursor: pointer;
     display: none;
 }

 .mobile-nav-icon i {
     font-size: 250%;
     color: #fff;
 }

/*---------------------------------*/
/* Sticky nav */
/*---------------------------------*/
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    background-color: rgb(179, 179, 179);
    box-shadow: 0 2px 2px #efefef;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    padding: 10px 0;
    color: rgb(255, 255, 255);
}

.sticky .main-nav {
    margin-top: 10px;   
}

.sticky .main-nav li a:hover,
.sticky .main-nav li a:active {
    border-bottom: 2px solid rgb(255, 255, 255);
}
.sticky .logo { display: none;}
.sticky .logo-black { display: block;}

/*---------------------------------*/
/* Slides btn */
/*---------------------------------*/
.button-slides{
	position: absolute;
	width: 100%;
	top: 80%;
	left: 65%;
	transform: translate(-50%, -50%);
}

.btn:link,
.btn:visited,
input[type=submit] {
	display: inline-block;
	padding: 10px 30px;
	font-weight: 300;
	text-decoration: none;
	border-radius: 200px;
	transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
	background-color: rgba(130, 186, 177, 1);
	border: 1px solid rgb(255, 255, 255);
	color: #fff;
	margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited,
input[type=submit] {
	background-color: rgb(141, 71, 253);
	border: 1px solid rgb(255, 255, 255);
	color: #fff;
	margin-right: 15px;
}
.btn-ghost:link,
.btn-ghost:visited {
	border: 1px solid #ffffff;
	color: #000000;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
	background-color: rgba(130, 186, 177, 1);
}

.btn-full:hover,
.btn-full:active {
	background-color: rgb(141, 71, 253);
}

.btn-ghost:hover,
.btn-ghost:active {
	border: 1px solid rgba(130, 186, 177, 1);
	color: #fff;
}

/*---------------------------------*/
/* Image slide */
/*---------------------------------*/
.main-banner {
    margin: 0 auto;
    width: 100%;
    height: 80vh;
    background-color:#fff;
    overflow: hidden;
    position: relative;
}

.main-banner .imgban {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    transition: all ease-in-out 500ms;
}

.main-banner #imgban3 {
    background-image: url(../img/swimmer.jpg); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

.main-banner #imgban2 {
    background-image: url(../img/running.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Video banner */
.main-banner #imgban1 {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

.main-banner .imgban video {
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
    object-fit: cover;
    position: absolute;
}

/* Next and Prev btn */
.imgbanbtn {
    width: 2rem;
    height: 2rem;
    background-color: #000;
    border-radius: 20%;
    position: absolute;
    top: 50%;
    z-index: 2000;
    opacity: 0.8;
    cursor: pointer;
}

.imgbanbtn:hover {
    opacity: 0.9;
}

.imgbanbtn-prev {
    left: 1%;
    background-image: url(../img/arrow-left.png);
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
}

.imgbanbtn-next {
    right: 1%;
    background-image: url(../img/arrow.png);
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
}

/* Slides texts */
.main-banner .imgban-box h2 {
    font-size: 2rem;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    position: absolute;
}

.main-banner .imgban-box p {
    padding-top: 1rem;
    font-size: 1rem;
    color: #fff;
}

.main-banner #imgban3 .imgban-box {
    padding-top: 15%;
    padding-left: 15%;
    
}

.main-banner #imgban2 .imgban-box {
    padding-top: 13%;
    padding-left: 15%;
}

.main-banner #imgban1 .imgban-box h2 {
    font-size: 180%;
}

.main-banner #imgban1 .imgban-box {
    padding-top: 20%;
    padding-left: 15%;
}

/*---------------------------------*/
/* Section 1 */
/*---------------------------------*/
.section-1 {
    padding: 5rem 8rem;
    font-family: 'Montserrat', sans-serif;
    
}

.h-section-1 {
    font-size: 2rem;
    font-weight: 300;
}

.p-section-1 {
    font-size: .9rem;
    font-weight: 300;
    margin-top: 2rem;
    line-height: 1.5;
    padding-bottom: 5rem;
}

/* Mobile image */
.flex-container {
    display: flex;
    align-items: stretch;
    
  }
  
.flex-container .img-section-1 {
    color: white;
    width: 20%;
  }

.img-section-1 img {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

/* Video section 1 */
.flex-container .img-section-2 {
    width: 10%;
    margin-left: 20px;
    padding: 4px 0;
    text-align: center;
  }

  .img-section-2 video {
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
    object-fit: cover;
    border-radius: 3%;
    border: solid 3px #ebe9e9;
  }

  /*---------------------------------*/
/* Section 2 */
/*---------------------------------*/
.section-2 {
    padding: 0 8rem;
}

.h-section-2 {
    font-size: 2rem;
    font-weight: 200;
}

.h1-section-2 {
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
}

.p-section-2 {
    padding: 1.5rem 0;
    font-weight: 600;
}

.p1-section-2 {
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 300;
    /* padding-bottom: 2rem; */
}

.h-text-section-2 {
    font-size: 1.3rem;
    font-weight: 400;
    padding-top: 1rem;
}

.p-text-section-2 {
    font-size: .8rem;
    font-weight: 300;
    line-height: 1.5;
    margin-right: 2rem;
}

.next-row {
    padding-top: 0;
    padding-bottom: 2rem;
}

.strenght {
    color: rgba(130, 186, 177, 1);
}

/*---------------------------------*/
/* Section 3 */
/*---------------------------------*/

.section-3 {
    padding: 4rem 8rem;
    background-color: #fff;
  }

.h-section-3 {
    width: 100%;
    font-size: .9rem;
    font-weight: 300;
    line-height: 1.5; 
  }

.p-section-3 {
    font-size: .7rem;
    padding-top: 1rem;
    color: rgb(143, 142, 142);
  }

.img-section-3 {
    width: 100%;
    margin-top: 3rem;
    margin-left: 2rem;
  }

/*---------------------------------*/
/*FOOTER*/
/*---------------------------------*/

.img-img img {
    width: 40%;
    top: 0;
    left: 60%;
    height: auto;
    position: absolute;
    opacity: 0.1;
}
footer {
    background-color: rgb(158, 155, 155);
    font-size: 80%;
    padding: 6rem 8rem;
    position: relative;
}

.footer-logo img {
    width: 8rem;
    padding-bottom: .8rem;
    margin-top: 3rem;
}

.footer-p {
  text-align: left;
  color: rgb(255, 255, 255);
  margin-top: 2px;
  font-size: .7rem;
}

.span-footer {
    color: #fff;
    font-size: .5rem;
}

/* Social icons */
.social-links {
	list-style: none;
    float: right;
    margin-right: -110%;
    margin-top: -160px;
    padding: 2rem 8rem;
    position: relative;
}

.social-span li {
    padding: 1.5rem  0;
    font-size: 1rem;
}

.footer-nav li, 
.social-links li {
	display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
	margin-right: 0;
}
.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
	text-decoration: none;
	border: 0;
	color: rgb(252, 249, 249);
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}
.footer-nav li a:hover,
.footer-nav li a:active{
    color: #ddd;
}

.social-links li a:link,
.social-links li a:visited {
	font-size: 170%;
}

.ion-social-facebook,
.ion-social-twitter, 
.ion-social-youtube,
.ion-social-instagram,
.ion-social-linkedin,
.ion-social-vimeo {
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

.ion-social-facebook:hover {
	color: #3d5998;
}
.ion-social-twitter:hover {
	color: #00aced;
}
.ion-social-youtube:hover {
	color: #dd4b39;
}
.ion-social-instagram:hover {
	color: #517fa4;
}

.ion-social-linkedin:hover {
	color: #517fa4;
}

.ion-social-vimeo:hover {
	color: #00aced;
}

/*---------------------------------*/
/* Finished 
/*---------------------------------*/
/*---------------------------------*/
/* Codes by Rooheed Gulistani 
/* rooheed.gulistani@gmail.com
/*---------------------------------*/
